
#neon{
	position:absolute;
	top:26.8%;
	left:510px;
	float:bottom;
	overflow:hidden;
	width:100px;
	height:105px;
	cursor:pointer;
    background-image: url(images/neon_b.png); 
}
#tesla{
	cursor:pointer;
	position:absolute;
	top:25%;
	left:400px;
	width:120px;
	height:130px;
	background:url(images/tesla.png) no-repeat;
}
#kia_con
{
	position:absolute;
	top:32%;
	left:8%;
}

#kia{
	position:absolute;
	width:120px;
	height:105px;
	background:url(images/kia.png) no-repeat;	
    -webkit-animation: play 3s  infinite alternate;
       -moz-animation: play 3s  infinite alternate;
        -ms-animation: play 3s  infinite alternate;
         -o-animation: play 3s  infinite alternate;
            animation: play 3s infinite alternate;

}
@-webkit-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@-moz-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@-ms-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@-o-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

#theA{
	cursor:pointer;
	position:absolute;
	top:280px;
	left:300px;
	width:100px;
	height:120px;
	background:url(images/A.png) no-repeat;
}

#lily{
	cursor:pointer;
	position:absolute;
	top:360px;
	left:180px;
	width:120px;
	height:80px;
	background:url(images/lily.png) no-repeat;
}





#hi{
	position:absolute;
	width:100px;
	height:105px;
	cursor:pointer;
    background-image: url(images/neon_h_s.png); 
    -webkit-animation: plays 2s steps(10) infinite alternate;
       -moz-animation: plays 2s steps(10) infinite alternate;
        -ms-animation: plays 2s steps(10) infinite alternate;
         -o-animation: plays 2s steps(10) infinite alternate;
            animation: plays 2s steps(10) infinite alternate;
}

@-webkit-keyframes plays {
   from { background-position:    0px; }	
     to { background-position: -1000%; }
}

@-moz-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -1000%; }
}

@-ms-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -1000%; }
}

@-o-keyframes plays {
   from { background-position:    0px; }
     to { background-position: -1000%; }
}

@keyframes plays {
   from { background-position:    0px; }
     to { background-position: -1000%; }
}
