body{
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
 -moz-user-select     : none;
 -khtml-user-select   : none;
 -webkit-user-select  : none;
 -o-user-select       : none;
 user-select          : none;
}

.aaa{
 -moz-user-select     : none;
 -khtml-user-select   : none;
 -webkit-user-select  : none;
 -o-user-select       : none;
 user-select          : none;
 z-index:9999;
}

#archive_ ul,li {position:relative;left:-30px;top:-10px;list-style:none;}
#archive_ li {float:left;margin:10px}
#archive_ i img{width:50px; height:50px;}


#shop_ ul,li {position:relative;left:-30px;top:-10px;list-style:none;}
#shop_ li {float:left;margin:10px}

::selection {
    background:rgba(0,0,0,0);
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background:rgba(0,0,0,0);
    color: #FFF;
	text-shadow: none;
}
::-webkit-selection {
    background:rgba(0,0,0,0);
    color: #FFF;
    text-shadow: none;
}
.steam{
pointer-events:none;
position:fixed;
z-index:1000;
cursor:pointer;
background:url(images/steam01.png);
width:100px;
height:100px;
background-size:100%;
opacity:0.8;
}

#game_view{
	width:960px;
	height:638px;
	background:url(onsen/onsen1.png) no-repeat;
}

#clickbut{
	cursor:pointer;
	position:absolute; 
	z-index:0;
	left:0px; 
	top:0px; 
	width:960px;
	height:638px;
}


#game_main{
	margin:0px 10px;
}
#_menu{
	width:100%;
}
#_menu button{
	width:25%;
	margin-left:-3px;
	margin-right:-3px;
}
#count_{
	position:relative;
	float:left;
	width:100%;
	z-index:10;
	margin-top:0px;
	padding-top:30px;
	padding-bottom:30px;
	color:white;
}


.div_round {
padding:3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.thema_box{
	-moz-border-radius: 2px 2px 0px 0px;
	-o-border-radius: 2px 2px 0px 0px;
	-khtml-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}
.lock_box{
position:absolute;
top:0px;
color:white;
width:100%;
height:100%;
background: rgba(114, 114, 114, 0.5);
-moz-border-radius: 3px;
-o-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

#change_a,#change_s{

-moz-border-radius: 50%;
-o-border-radius: 50%;
-khtml-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}

#archives{
position:absolute;
display:none;
width:500px;
height:auto;
left:25%;
top:30%;
background:rgba(0,0,0,0.8);
-moz-border-radius: 3px;
-o-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
z-index:100;
padding:10px;
}
#shop{
position:absolute;
width:500px;
padding:10px;
height:auto;
left:25%;
top:20%;
z-index:100;
background:rgba(0,0,0,0.8);
-moz-border-radius: 3px;
-o-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.exit{
position:absolute;
float:right;
right:15px;
top:-10px;
cursor:pointer;
}

input + label {
	color:white;
	display: inline-block;
	margin:3px;
    cursor: pointer;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid rgba(0,0,0,0);
	min-width:80px;
	text-align:center;
	padding:5px;
	box-shadow: inset 0 0 0 0px #98004a;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	}
input:checked + label { 
	box-shadow: inset 0 0 0 5px #0B614B;
	background: #0B614B;
}
input {
    display: none;
 }
 
 
 
 
 
#tesla{
	cursor:pointer;
	position:absolute;
	top:25%;
	left:400px;
	width:120px;
	height:130px;
	background:url(images/tesla.png) no-repeat;
}
#kia_con
{
	position:absolute;
	top:32%;
	left:8%;
}

#kia{
	position:absolute;
	width:120px;
	height:105px;
	background:url(images/kia.png) no-repeat;	
    -webkit-animation: play 3s  infinite alternate;
       -moz-animation: play 3s  infinite alternate;
        -ms-animation: play 3s  infinite alternate;
         -o-animation: play 3s  infinite alternate;
            animation: play 3s infinite alternate;

}
@-webkit-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@-moz-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@-ms-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@-o-keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

@keyframes play {
   from { top:0px; }	
     to { top:5px; }
}

#theA{
	cursor:pointer;
	position:absolute;
	top:280px;
	left:300px;
	width:100px;
	height:120px;
	background:url(images/A.png) no-repeat;
}

#lily{
	cursor:pointer;
	position:absolute;
	top:360px;
	left:180px;
	width:120px;
	height:80px;
	background:url(images/lily.png) no-repeat;
}










/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.arc_01, .arc_02, .arc_03, .arc_04, .arc_05,
.arc_06, .arc_07, .arc_08, .arc_09, .arc_10,
.arc_11, .arc_12, .arc_13, .arc_14, .arc_15,
.arc_16, .arc_17
{ display: inline-block; margin:-20px; background: url('images/arcv_sprite.png') no-repeat; 
-ms-transform:scale(0.58);
-moz-transform:scale(0.58);
transform:scale(0.58);
overflow: hidden; text-indent: -9999px; text-align: left; } 
.arc_01 { background-position: -0px -0px; width: 85px; height: 85px; }
.arc_02 { background-position: -85px -0px; width: 85px; height: 85px; }
.arc_03 { background-position: -170px -0px; width: 85px; height: 85px; }
.arc_04 { background-position: -255px -0px; width: 85px; height: 85px; }
.arc_05 { background-position: -0px -85px; width: 85px; height: 85px; }
.arc_06 { background-position: -85px -85px; width: 85px; height: 85px; }
.arc_07 { background-position: -170px -85px; width: 85px; height: 85px; }
.arc_08 { background-position: -255px -85px; width: 85px; height: 85px; }
.arc_09 { background-position: -0px -170px; width: 85px; height: 85px; }
.arc_10 { background-position: -85px -170px; width: 85px; height: 85px; }
.arc_11 { background-position: -170px -170px; width: 85px; height: 85px; }
.arc_12 { background-position: -255px -170px; width: 85px; height: 85px; }
.arc_13 { background-position: -0px -255px; width: 85px; height: 85px; }
.arc_14 { background-position: -85px -255px; width: 85px; height: 85px; }
.arc_15 { background-position: -170px -255px; width: 85px; height: 85px; }
.arc_16 { background-position: -255px -255px; width: 85px; height: 85px; }
.arc_17 { background-position: -0px -340px; width: 85px; height: 85px; }


.onsen_ch
{
	position:absolute;
}



#char_01
{
z-index:2;
width:108px;
height:108px;
top:506px;
left:608px;
background:url(./onsen/char_01.png);
}
#char_13
{
width:116px;
height:116px;
top:466px;
left:510px;
background:url(./onsen/char_13.png);
    -webkit-animation: play_13 1.5s steps(2) infinite alternate;
       -moz-animation: play_13 1.5s steps(2) infinite alternate;
        -ms-animation: play_13 1.5s steps(2) infinite alternate;
         -o-animation: play_13 1.5s steps(2) infinite alternate;
            animation: play_13 1.5s steps(2) infinite alternate;

}

@-webkit-keyframes play_13 {
   from { background-position:    0px; }	
     to { background-position: -200%; }
}

@-moz-keyframes play_13 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}

@-ms-keyframes play_13 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}

@-o-keyframes play_13 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}

@keyframes play_13 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}








#char_11
{
width:102px;
height:201px;
top:282px;
left:860px;
background:url(./onsen/char_11.png);
}
#char_08
{
width:90px;
height:95px;
top:310px;
left:510px;
background:url(./onsen/char_08.png);
}
#char_02
{
z-index:1;
width:94px;
height:115px;
top:335px;
left:613px;
background:url(./onsen/char_02.png);
}
#char_14
{
z-index:2;
width:99px;
height:77px;
top:383px;
left:533px;
background:url(./onsen/char_14.png);
}
#char_07
{
z-index:2;
width:63px;
height:119px;
top:369px;
left:451px;
background:url(./onsen/char_07.png);
}
#char_04
{
width:106px;
height:119px;
z-index:2;
top:387px;
left:322px;
background:url(./onsen/char_04.png);
}
#char_09
{
width:119px;
height:115px;
top:323px;
left:364px;
background:url(./onsen/char_09.png);
}
#char_10
{
z-index:2;
width:110px;
height:121px;
top:443px;
left:248px;
background:url(./onsen/char_10.png);
}
#char_03
{
z-index:2;
width:118px;
height:91px;
top:445px;
left:103px;
background:url(./onsen/char_03.png);
}
#char_15
{
width:102px;
height:92px;
top:400px;
left:178px;
background:url(./onsen/char_15.png);
}
#char_05
{
z-index:1;
width:140px;
height:140px;
top:410px;
left:637px;
background:url(./onsen/char_05.png);
    -webkit-animation: play_05 1s steps(2) infinite alternate;
       -moz-animation: play_05 1s steps(2) infinite alternate;
        -ms-animation: play_05 1s steps(2) infinite alternate;
         -o-animation: play_05 1s steps(2) infinite alternate;
            animation: play_05 1s steps(2) infinite alternate;
}


@-webkit-keyframes play_05 {
   from { background-position:    0px; }	
     to { background-position: -200%; }
}

@-moz-keyframes play_05 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}

@-ms-keyframes play_05 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}

@-o-keyframes play_05 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}

@keyframes play_05 {
   from { background-position:    0px; }
     to { background-position: -200%; }
}







#char_06
{
width:102px;
height:107px;
top:307px;
left:745px;
background:url(./onsen/char_06.png);
}
#char_12
{
width:103px;
height:113px;
top:424px;
left:747px;
background:url(./onsen/char_12.png);
}


#char_16
{
width:110px;
height:120px;
top:509px;
left:738px;
background:url(./onsen/char_16.png);
}

#char_17
{
width:101px;
height:104px;
top:324px;
left:678px;
background:url(./onsen/char_17.png);
}

.help_line{
 margin:5px 0px; 
 width:100%;
 position:relative;
 z-index:10;
}

