@ismport url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html 
{ font-size: 100%; 
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-family: 'Noto Sans Japanese', serif;
color:#ffffff;
padding: 0; margin: 0; }
body{
background-color: #000000; 
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
img {border: none;}

*:focus {
     outline: none;
}
a {
font-size: 100%; 
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
color:#ffffff;
	text-decoration: none;
}



hr{
float:left;
width:80%;
}
.bottom_fade {
	position: absolute;
	width: 910px;
	height: 100px;
	top: 600px;
	background: url("bottom-fade.png");
	}
.top_fade {
	position: absolute;
	width: 887px;
	height: 50px;
	top: 0px;
	background: url("top-fade.png");
}

.novel{
color: #222;
text-shadow: 0px -1px 0px #fff,0px 1px 0px #fff,-1px 0px 0px #fff;,1px 0px 0px #fff, 0px 2px 3px #555;
}
:hover .novel{
color: #eee;
text-shadow: 0px 2px 3px #555;
}

a:hover,
a:active {
	selector-dummy: expression(this.hideFocus=true);
	color: #333;
}
a.Button{
  display:block; 
  height:99px; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity:0.7;
 } 
a.Button2{
  display:block;
}

a.Button3{
  display:block; 
  height:99px; 
  position:relative;
  left:-10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
  -moz-filter: drop-shadow(0px 0px 10px #ffffff);
  -o-filter: drop-shadow(0px 0px 10px #ffffff);
  -ms-filter: drop-shadow(0px 0px 10px #ffffff);
  filter: drop-shadow(0px 0px 10px #ffffff);
}

a.Button4{
  display:block; 
  height:99px;
  opacity:0.7;
  top:0px;
  left:0px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;  

 }


a.Button5{
  opacity:0.7;
  margin-left:25%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;  
  -webkit-filter: drop-shadow(0px 0px 10px #ffffff);
  -moz-filter: drop-shadow(0px 0px 10px #ffffff);
  -o-filter: drop-shadow(0px 0px 10px #ffffff);
  -ms-filter: drop-shadow(0px 0px 10px #ffffff);
  filter: drop-shadow(0px 0px 10px #ffffff);
 }

 a:hover.Button5{
	opacity:1;
 }
 
a:hover.Button{
	position:relative;
	top:0px;
	left:0px;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: slidein;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	-moz-animation-name: slidein;
	-o-animation-name: slidein;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-duration: 1s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
a:active.Button{
	position:relative;
	top:0px;
	left:0px;
 }
a:hover.Button4{
	position:relative;
	top:0px;
	left:-10px;
	opacity:1;
}
	
	
@keyframes slidein {
  from {
	filter: drop-shadow(0px 0px 0px #ffffff);
	opacity:0.7;
  }

  to {
	filter: drop-shadow(0px 0px 10px #ffffff);
	opacity:1;

  }
}
@-webkit-keyframes slidein {
  from {
	-webkit-filter: drop-shadow(0px 0px 0px #ffffff); 
	opacity:0.7;
  }

  to {
	-webkit-filter: drop-shadow(0px 0px 10px #ffffff); 
	opacity:1;
  }
}

@-moz-keyframes slidein {
  from {
	-moz-filter: drop-shadow(0px 0px 0px #ffffff); 
	opacity:0.7;
  }

  to {
	-moz-filter: drop-shadow(0px 0px 10px #ffffff); 
	opacity:1;
  }
}
@-o-keyframes slidein {
  from {
	-o-filter: drop-shadow(0px 0px 0px #ffffff); 
	opacity:0.7;
  }

  to {
	-o-filter: drop-shadow(0px 0px 10px #ffffff); 
	opacity:1;
  }
}


.box{
display:block;
position:relative;
left:0px;
width:950px;
height:700px;
background-image:url(images/back.png); 
}

.box_l{
display:block; 
width:950px;
height:700px;
background-image:url(images/back_2.png); 
}
.box_side{
position:absolute;
left:950px;
top:0;
width:58px;
height:400px;
}
.box1{
position:relative;
float:left;
top:139px;
left:10px;
}
.box_ov{
display:block; 
width:950px;
height:700px;	
background-image:url(images/back_ov.jpg); 
}

.box_inf{
position:absolute;
float:left;
left:450px;
line-height:10px;
top:200px;
width:400px;
height:300px;
}


.box_in{

}
.box_inf
{
} 

.web_nov{
font-size:30px;
}
.box_inf span{
font-size:30px;
/*
opacity:0.7;
text-shadow: 1px 1px 10px #fff,-1px 1px 10px #fff,1px -1px 10px #fff,-1px -1px 10px #fff,0px 0px 10px #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; */

}
.box_inf span:hover{
/*
opacity:1;
text-shadow: 0px 0px 0px #fff; */
}


.box_logo{
position:absolute;
float:left;
top:614px;
left:498px;
width:440px;
height:83px;
background-image:url(images/logo_s.png);

}
.box2{
position:absolute;
float:left;
top:50px;
left:-26px;
}
.box_pic{
display:block; 
position:absolute;
top:60px;
left:100px;
height:600; 
width:900;
opacity:1.0;
}

.box3{
position:fixed;
float:left;
top:254px;
left:20px;
}

.box_radius{
padding: 10px;
   border: 1px solid #cc0000;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   -o-border-radius: 15px;
   border-radius: 15px;
}

.ha_but{
z-index:10;
position:absolute;
top:300px;
left:400px;
height:135px;
width:135px;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;  
-webkit-filter: invert(0) !important;
filter: invert(0%);
background-image:url(images/hatuki.png);
}
:hover.ha_but{
-webkit-filter: invert(1)  !important;
filter: invert(100%);
}

.cha_01{
position:absolute;
float:left;
width:184px;
height:228px; 
top:0px;
left:0px;
background-position: 0px 0px;
background-image:url(images/cha_sprite.jpg);
}
.cha_02{
position:absolute;
float:left;
width:159px;
height:209px; 
top:0px;
left:184px;
background-position: -184px -0px;
background-image:url(images/cha_sprite.jpg);
}
.cha_03{
position:absolute;
float:left;
width:132px;
height:209px; 
top:0px;
left:343px;
background-position: -343px 0px;
background-image:url(images/cha_sprite.jpg);
}
.cha_04{
position:absolute;
float:left;
width:135px;
height:142px; 
top:0px;
left:475px;
background-position: -475px 0px;
background-image:url(images/cha_sprite.jpg);
}
.cha_05{
position:absolute;
float:left;
width:46px;
height:450px; 
top:0px;
left:610px;
background-position: -610px 0px;
background-image:url(images/cha_sprite.jpg);
}

.cha_06{
position:absolute;
float:left;
width:126px;
height:209px; 
top:0px;
left:656px;
background-position: -656px 0px;
background-image:url(images/cha_sprite.jpg);
}

.cha_07{
position:absolute;
width:168px;
height:209px; 
top:0px;
left:781px;
background-position: -781px 0px;
background-image:url(images/cha_sprite.jpg);
}
.cha_08{
position:absolute;
width:168x;
height:209px; 
top:0px;
left:781px;
background-position: -781px 0px;
background-image:url(images/cha_sprite.jpg);
}
.cha_09{
position:absolute;
float:left;
width:135px;
height:140px; 
top:142px;
left:475px;
background-position: -475px -142px;
background-image:url(images/cha_sprite.jpg);
}
.cha_10{
position:absolute;
float:left;
width:106px;
height:167px; 
top:209px;
left:184px;
background-position: -184px -209px;
background-image:url(images/cha_sprite.jpg);
}
.cha_11{
position:absolute;
float:left;
width:101px;
height:167px; 
top:209px;
left:290px;
background-position: -290px -209px;
background-image:url(images/cha_sprite.jpg);
}
.cha_12{
position:absolute;
float:left;
width:84px;
height:335px; 
top:209px;
left:391px;
background-position: -391px -209px;
background-image:url(images/cha_sprite.jpg);
}

.cha_13{
position:absolute;
float:left;
width:142px;
height:201px; 
top:209px;
left:656px;
background-position: -656px -209px;
background-image:url(images/cha_sprite.jpg);
}

.cha_14{
position:absolute;
float:left;
width:152px;
height:201px; 
top:209px;
left:798px;
background-position: -798px -209px;
background-image:url(images/cha_sprite.jpg);
}

.cha_15{
position:absolute;
float:left;
width:184px;
height:148px; 
top:228px;
left:0px;
background-position: -0px -228px;
background-image:url(images/cha_sprite.jpg);
}

.cha_16{
position:absolute;
float:left;
width:135px;
height:168px; 
top:282px;
left:475px;
background-position: -475px -282px;
background-image:url(images/cha_sprite.jpg);
}

.cha_17{
position:absolute;
float:left;
width:145px;
height:168px; 
top:376px;
left:0px;
background-position: -0px -376px;
background-image:url(images/cha_sprite.jpg);
}


.cha_18{
position:absolute;
float:left;
width:121px;
height:168px; 
top:376px;
left:145px;
background-position: -145px -376px;
background-image:url(images/cha_sprite.jpg);

}
.cha_19{
position:absolute;
float:left;
width:125px;
height:168px; 
top:376px;
left:266px;
background-position: -266px -376px;
background-image:url(images/cha_sprite.jpg);
}

.cha_20{
position:absolute;
float:left;
width:126px;
height:116px; 
top:410px;
left:656px;
background-position: -656px -410px;
background-image:url(images/cha_sprite.jpg);
}
.cha_21{
position:absolute;
float:left;
width:168px;
height:290px; 
top:410px;
left:781px;
background-position: -781px -410px;
background-image:url(images/cha_sprite.jpg);
}

.cha_22{
position:absolute;
float:left;
width:181px;
height:120px; 
top:450px;
left:475px;
background-position: -475px -450px;
background-image:url(images/cha_sprite.jpg);
}

.cha_23{
position:absolute;
float:left;
width:126px;
height:174px; 
top:526px;
left:656px;
background-position: -656px -526px;
background-image:url(images/cha_sprite.jpg);
}
.cha_24{
position:absolute;
float:left;
width:266px;
height:156px; 
top:544px;
left:0px;
background-position: -0px -544px;
background-image:url(images/cha_sprite.jpg);
}

.cha_25{
position:absolute;
float:left;
width:209px;
height:156px; 
top:544px;
left:266px;
background-position: -266px -544px;
background-image:url(images/cha_sprite.jpg);
}
.cha_27{
position:absolute;
float:left;
width:181px;
height:130px; 
top:569px;
left:474px;
background-position: -474px -569px;
background-image:url(images/cha_sprite.jpg);
}


.ch-item {
    opacity:0.7;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
a:hover .ch-item {
    opacity:1;
}


.ch-info {
	position: relative;
	float:left;
	opacity: 0.2;
	text-shadow: 1px 1px 5px #fff,-1px 1px 5px #fff,1px -1px 5px #fff,-1px -1px 5px #fff,0px 0px 10px #fff;
	-webkit-transition: all 0.2s linear 0.3s;
	-moz-transition: all 0.2s linear 0.3s;
	-o-transition: all 0.2s linear 0.3s;
	-ms-transition: all 0.2s linear 0.3s;
	transition: all 0.2s linear 0.3s;

}
.ch-item:hover .ch-info {
	opacity: 1;	
	text-shadow: 0px 0px 1px #fff, 1px 1px 5px #aaa,-1px 1px 5px #aaa,1px -1px 0px #aaa,-1px -1px 0px #aaa;
}

.ch-info h3 {
	position:relative;
	color: #fff;
	font-family: 'Noto Sans Japanese','Open Sans', Arial, sans-serif;
	
 }


 
.ch-info h2 {
	position:relative;
	color: #fff;
	font-family: 'Noto Sans Japanese','Open Sans', Arial, sans-serif;
	
 }
 
 

.rotate_90  {
	position:absolute;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	font-family: 'Noto Sans Japanese','Open Sans', Arial, sans-serif; 
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	margin-left:34px;
	margin-top:-20px;
    
}
@-moz-document url-prefix() { 
  .rotate_90 {
    transform: rotate(90deg);
	margin-left:0px;
	margin-top:0px;
	}
}
 


.pict_thumb {
-moz-border-radius: 7px;
-o-border-radius: 7px;
-khtml-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
}

.arasuji{
	font-weight:bold;
	margin-top:0.5em;
	padding-left:0.25em;
	border-color:gray;
	border-style:solid;
	border-width:0 0 0px 0.5em;
}

.t_in{
text-indent:1em;
padding:0.5em;
}


/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.side-01, .side-02, .side-03, .side-04, .side-05
{ display: inline-block; background: url('images/sides.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.side-01 { background-position: -0px -0px; width: 58px; height: 400px; }
.side-02 { background-position: -58px -0px; width: 58px; height: 400px; }
.side-03 { background-position: -0px -400px; width: 58px; height: 400px; }
.side-04 { background-position: -58px -400px; width: 58px; height: 400px; }
.side-05 { background-position: -0px -800px; width: 58px; height: 400px; }

 
.but02_01, .but02_02, .but02_03, .but02_04, .but02_05,
.but02_06
{ display: inline-block; background: url('images/but02s.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; } 
.but02_01 { background-position: -0px -0px; width: 75px; height: 105px; }
.but02_02 { background-position: -75px -0px; width: 75px; height: 108px; }
.but02_03 { background-position: -0px -105px; width: 75px; height: 90px; }
.but02_04 { background-position: -75px -108px; width: 75px; height: 104px; }
.but02_05 { background-position: -0px -195px; width: 75px; height: 103px; }
.but02_06 { background-position: -75px -212px; width: 75px; height: 103px; }




#inout
{
	cursor:pointer;
	position:fixed;
	z-index:20000;
}
#zomin
	{
		background:url(images/zoomin.png);
		width:40px;
		height:40px
}
#zomout
	{
	background:url(images/zoomout.png);
	width:40px;
	height:40px;
}





nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-11 a {
	padding: 10px 0;
	border-top: 2px solid #0972b4;
	color: #0972b4;
	text-shadow: none;
} 

.cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}


/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.cl-effect-16 a::before {
	color: #aaa;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow:  0px -1px 0px #fff,0px 1px 0px #fff,-1px 0px 0px #fff;,1px 0px 0px #fff, 0px 2px 3px #555, 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}


/* Effect 21: borders slight translate */
.cl-effect-21 a {
	margin-top:-10px;
	margin-right:-10px;
	padding: 10px;
	color: #222;
	background:rgba(255,255,255,0.5);
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	text-shadow:none;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	text-shadow:none;
}


/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	color:#fff;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	color:#fff;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	color:#fff;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	color:#fff;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
	text-shadow:none;
	background:rgba(255,255,255,0.0);
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	text-shadow:none;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}



.comic_container{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.7) url(./img/loading.gif);
	background-repeat:no-repeat;
	background-position: center center; 
	z-index:9999;
}
.ext{
	position:fixed;
	top:0px;
	color:black;
	z-index:10000;
}
.zoom{
	position:fixed;
	display:none;
	top:50px;
	color:black;
	z-index:10000;

}
.prog{
	margin: auto;
	position: absolute;
	padding-top:20%;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index:10000;
	color:white;
	width:30px;
	min-height:30px;
}
.zoomout{
	position:fixed;
	display:none;
	top:100px;
	color:black;
	z-index:10000;
}
.comic_page{
	text-align:center;
	white-space: nowrap;
	height:95%;
	margin-left:auto;
	margin-right:auto;
}
.comic_side{
	position:relative;
	top:2.5%;
	height:100%;
	width:auto;
	cursor:pointer;
	border: 5px solid white;
	background: white url(./img/loading.gif);
	background-repeat:no-repeat;
	background-position: center center; 
}
.view_name{
	position:absolute;
	right:30px;
	bottom:40px;
	min-width:70px;
	color:black;
	background:rgba(255,255,255,0.7);
	z-index:10000;	
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.view_pg{
	position:absolute;
	right:30px;
	bottom:-10px;
	min-width:70px;
	color:black;
	background:white;
	z-index:10000;	
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.left_{
-moz-border-radius: 3px 0px 0px 3px;
-o-border-radius: 3px 0px 0px 3px;
-khtml-border-radius: 3px 0px 0px 3px;
-webkit-border-radius: 3px 0px 0px 3px;
border-radius: 3px 0px 0px 3px;
}
.right_{
-moz-border-radius: 0px 3px 3px 0px;
-o-border-radius: 0px 3px 3px 0px;
-khtml-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
border-radius: 0px 3px 3px 0px;

}
 
.thumb01, .thumb02, .thumb03, .thumb04, .thumb05, 
.thumb06, .thumb07, .thumb08, .thumb09, .thumb10, 
.thumb11, .thumb12, .thumb13, .thumb14, .thumb15, 
.thumb16, .thumb17, .thumb18
{ display: inline-block; background: url('images/thumb_sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.thumb01 { background-position: -1px -0px; width: 160px; height: 120px; }
.thumb02 { background-position: -162px -0px; width: 160px; height: 120px; }
.thumb03 { background-position: -323px -0px; width: 160px; height: 120px; }
.thumb04 { background-position: -484px -0px; width: 160px; height: 120px; }
.thumb05 { background-position: -1px -121px; width: 160px; height: 120px; }
.thumb06 { background-position: -162px -121px; width: 160px; height: 120px; }
.thumb07 { background-position: -323px -121px; width: 160px; height: 120px; }
.thumb08 { background-position: -484px -121px; width: 160px; height: 120px; }
.thumb09 { background-position: -1px -242px; width: 160px; height: 120px; }
.thumb10 { background-position: -162px -242px; width: 160px; height: 120px; }
.thumb11 { background-position: -323px -242px; width: 160px; height: 120px; }
.thumb12 { background-position: -484px -242px; width: 160px; height: 120px; }
.thumb13 { background-position: -1px -363px; width: 160px; height: 120px; }
.thumb14 { background-position: -162px -363px; width: 160px; height: 120px; }
.thumb15 { background-position: -323px -363px; width: 160px; height: 120px; }
.thumb16 { background-position: -484px -363px; width: 160px; height: 120px; }
.thumb17 { background-position: -1px -484px; width: 160px; height: 120px; }
.thumb18 { background-position: -162px -484px; width: 160px; height: 120px; }


.gra-0000-13, .gra-0001-12, .gra-0002-11, .gra-0003-10, .gra-0004-9, 
.gra-0005-8, .gra-0006-7, .gra-0007-6, .gra-0008-5, .gra-0009-4, 
.gra-0010-3, .gra-0011-2, .gra-0012-1
{ display: inline-block; background: url('images/grafig.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.gra-0000-13 { background-position: -1px -0px; width: 120px; height: 90px; }
.gra-0001-12 { background-position: -122px -0px; width: 120px; height: 90px; }
.gra-0002-11 { background-position: -243px -0px; width: 120px; height: 90px; }
.gra-0003-10 { background-position: -1px -91px; width: 120px; height: 90px; }
.gra-0004-9 { background-position: -122px -91px; width: 120px; height: 90px; }
.gra-0005-8 { background-position: -243px -91px; width: 120px; height: 90px; }
.gra-0006-7 { background-position: -1px -182px; width: 120px; height: 90px; }
.gra-0007-6 { background-position: -122px -182px; width: 120px; height: 90px; }
.gra-0008-5 { background-position: -243px -182px; width: 120px; height: 90px; }
.gra-0009-4 { background-position: -1px -273px; width: 120px; height: 90px; }
.gra-0010-3 { background-position: -122px -273px; width: 120px; height: 90px; }
.gra-0011-2 { background-position: -243px -273px; width: 120px; height: 90px; }
.gra-0012-1 { background-position: -1px -364px; width: 120px; height: 90px; }
